/* Color Hex */
/* 
    #18ADA4
    #0A6487
    #ED377D
    #FFC66B
    #05001F
    #FFF
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
}

body{
    font-family:'Open Sans';
}

ul li{
    list-style-type: none;
}

/* Header Settings*/

.logotype img{
    width: auto;
    height:150px;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-weight: bold;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: #05001F;
}

/* Home Page Settings */

.home-bg{
    /* For browsers that do not support gradients */
    background-color: #0A6487; 
    background-image: linear-gradient(#18ADA4, #0A6487);
}

.main-button{
    padding: 2rem;
}

.main-button a{
    border:2px solid #05001F;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: #05001F;
    transition: .3s;
}

.main-button a:hover{
    background-color:#FFC66B;
}

.do-bg{
    color: #fff;
    background-color: #ED377D; 
    background: linear-gradient(to right, #ED377D , #FFC66B);
}

.do-bg h2{
    text-align: center;
    padding: 1rem;
}

.do-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    flex-wrap: wrap;
    padding: 1rem;
}


/* Home Page Settings End */


/* Portfolio Settings */

.portfolio-bg{
    background-color: #18ADA4; 
    background: linear-gradient(#18ADA4, #05001F);
    color: #fff;
    display: flex;
    justify-content: center;
}

/* .portfolio-contents{
} */


.portfolio-bg h2,iframe,h1{
    padding: 1rem;
    text-align: center;
}

/* Portfolio Settings End */



/* About Settings */

.bio-bg{
    background-color: #ED377D; 
    background: linear-gradient(to right, #ED377D , #FFC66B);
    color: #fff;
}

.bio-bg img{
    width: 25%;
}

/* About Settings End */


/* Contact Form Settings */

.contact{
    background-color: #ED377D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: 70vh;
}

.contact-form{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 570px;
    border-radius: 5px;
}

.contact-form h2{
    text-align: center;
}

.contact-form p{
    text-align: center;
}

.contact form{
    text-align: center;
}

.send{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
}

.send a{
    padding: 1rem;
    text-decoration: none;
    color: #ED377D;
    border: 1px solid #ED377D;
    border-radius: 5px;  
    padding-left: 1rem;
    transition: .3s; 
}

.send a:hover{
    color: #fff;
    background-color: #ED377D;
}

.social h2{
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icons{
    display: flex;
    flex-direction:row;
    justify-content: center;
}   

.social a{
    text-align: center;
    text-decoration: none;
}

.social i{
    color: #fff;
    padding: 1rem;
    font-size: 32px;
}

/* Contact Form Settings End */


/* Footer Settings */

footer{
    background-color: #05001f;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer h2,p{
    padding: 1rem;
}

footer li{
    padding: 1rem;
}

/* Footer Settings End */

@media screen and (min-width: 760px){

    /* Navigation Bar */

    nav{
        flex-direction: row;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        padding-left: 20rem;
    }

    nav li{
        padding: 1rem;
    }

    

    /* Footer Desktop Settings */
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer ul{
        display: flex;
        flex-direction: row;
    }
    /* Footer Desktop Settings End */


    /* Portfolio Settings */

    .portfolio-{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /* Portfolio Settings End */

    /* Contact Settings */

    /* .contact-form{
       
    } */
}