/* Color Hex */
/* 
    #18ADA4
    #0A6487
    #ED377D
    #FFC66B
    #05001F
    #FFF
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans';
}

nav{
    background-color: white;
}

ul li{
    list-style-type: none;
}

/* Header Settings*/

/* Home Page Settings */

.home-bg{
    /* For browsers that do not support gradients */
    background-color: #0A6487; 
    background-image: linear-gradient(#18ADA4, #0A6487);
    height: 50vh;
}

.do-bg{
    color: #fff;
    background-color: #ED377D; 
    background: linear-gradient(to right, #ED377D , #FFC66B);
    padding: 1rem;
    align-content: center;
}

.do-bg h2{
    text-align: center;
}

.do-contents{
    display: flex;
    justify-content: center;
}


/* Home Page Settings End */


/* Portfolio Settings */

.portfolio-bg{
    background-color: #18ADA4; 
    background: linear-gradient(#18ADA4, #05001F);
    color: #fff;
    display: flex;
    justify-content: center;
}

/* .portfolio-contents{
} */


.portfolio-bg h2,iframe,h1{
    padding: 1rem;
    text-align: center;
}

/* Portfolio Settings End */



/* About Settings */

.bio-bg{
    background-color: #ED377D; 
    background: linear-gradient(to right, #ED377D , #FFC66B);
    color: #fff;
}

.bio-bg img{
    width: 25%;
}

/* About Settings End */


/* Contact Form Settings */

.contact{
    background-color: #ED377D;
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.contact-form{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact Form Settings End */


/* Footer Settings */

footer{
    background-color: #05001f;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer h2,p{
    padding: 1rem;
}

footer li{
    padding: 1rem;
}

/* Footer Settings End */

@media screen and (min-width: 760px){

    /* Footer Desktop Settings */
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /* Footer Desktop Settings End */


    /* Portfolio Settings */

    .portfolio-{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /* Portfolio Settings End */
}